.space {
  background-color: #14171b;
  width: auto;
  height: 230px;
  display: flex;
  justify-content: flex-end;
}

.space a {
  cursor: pointer;
  text-decoration: none;
}

.space a:hover {
  text-decoration: underline;
}

.space h1 {
  height: 25px;
  padding-right: 160px;
  color: #b36cff;
}

.space h3 {
  margin-top: 85px;
}

.space div h2 {
  color: rgb(221, 221, 221);
}
